



    <div class="label-field-pair">
      <label for="leave_type">Select employee</label>
      <div class="text-input-bg"><%= select :leave_management_all, :employee_id, @employees.map { |s| [s.first_name, s.id] },
          {:prompt => "Select employee"},
          {:onChange => "#{remote_function(:url => {:action => "leave_list"}, :with => "'employee_id='+value + '&emp_id=#{@employee}'")}"} %>
      </div>
    </div>
<div class="extender"></div>
    <div id="leave-list"></div>