<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>



<script>
  $jq = jQuery.noConflict();
  $jq(document).ready(function() {
    $jq("#salary_date").datepicker({dateFormat: 'yy-mm-dd'});
  });
</script>


<% form_remote_for :one_click_payslip,
  :update=>"message-div",
  :before => "Element.show('loader')",
  :success => "Element.hide('loader')",
  :url => {:action => 'one_click_payslip_generation'} do %>


  <div class="label-field-pair">
    <label for="salary_date"><%= t('salary_date') %></label>
    <div class="text-input-bg"><%= calendar_date_select_tag 'salary_date', I18n.l(Date.today,:format=>:normal),
            :year_range => 2.years.ago..0.years.from_now %></div>
  </div>
  <div class="extender"></div>

    <div id="submit-button">
     <%=submit_tag("► #{t('go')}") %>
    </div>



<% end %>



