<div id="content-header">
  <img src="/images/HR/show_hr.png" alt="" />
  <h1>Employee Payslip</h1>
  <h3>Approve Payslip</h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="page-yield">
  <div class="box">
    <div class="label-field-pair">
    <label for="salary_date">Salary Month</label>
    <div class="text-input-bg"><%= select :one_click_payslip, :salary_date, @salary_dates.map {|c| [c.salary_date.strftime("%B %Y"),c.salary_date.strftime("%Y-%m-%d")]},
                                              {:prompt => 'Select a month'},
                                              {:onChange => "#{remote_function(:url => {:action=> "one_click_approve"},
                                              :with => "'salary_date='+value")}"} %></div>
    </div>

<div id ="approve"> </div>
</div>
  </div>