.box{
    width:750px;
    margin:0px auto;
}

.submit_button {
    margin-top:20px;
    margin-left:180px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}
