<%  unless @previous_subject.nil? %>
        <% @previous_subject.each  do |p| %>

          <li><div class="name"><%= p.subject %></div><div class="val"><span>:</span><%= p.mark %></div>
            <div class="delete"><%= link_to_remote image_tag("/images/buttons/delete-new.png", :border => 0),
                :url => {:action => "delete_previous_subject", :id => p.id},

                :update => "added_subjects"%></div></li>

        <% end %>
      <% end %>