<div class="box">
<% form_for :student_category, :url => {:action => 'categories'} do |f| %>
<div class="label-field-pair">
  <label><%= t('categories.enter_category') %>: </label>
<div class="text-input-bg"><%= f.text_field :name, :value => '' %>
</div>
  </div>
  <%= submit_tag "", :value => "► #{t('layouts.default.save')}", :class => "submit_button" %>

<% end %>
</div>
