<div id="content-header">
  <img src="/images/admission/admission_page_logo.jpg" />
  <h1><%= t('edit.student_info') %></h1>
  <h3><%= t('edit.h2') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<script type="text/javascript" src="/javascripts/swfobject.js"></script>
<%= @graph %>