

<ul id="sent-list">
<% unless @new_reminders.empty? %>
  <li class="heading"><%= t('index.from') %></li>
<% @new_reminders.each do |r| %>
  <li>
    <div class="sent-name"><%= link_to "#{Employee.find(r.from).first_name}", :controller=>"employee", :action=>"new_reminders", :id=>@employee.id, :id2=>r.id %></div>
  </li>
<% end %>
<% else %>
  <p class="flash-msg"><%= t('index.no_new_message') %></p>
<% end %>
</ul>