<div class="label-field-pair">
  <label for="course"><%= "#{t('layouts.default.select_a_course')}" %></label>
  <div class="text-input-bg">

    <%= select :select_batch, :batch, @batches.map { |s| [s.full_name, s.id] },
      {:prompt => "#{t('layouts.default.select_a_course')}"},
      {:onChange => "#{remote_function(:url => {:action => "to_students"}, :with => "'batch_id='+value",
      :before => "Element.show('loader')",
        :success => "Element.hide('loader')")}"} %>

  </div>
</div>