


<ul id="sent-list">
<% unless @sent_reminders.empty? %>
  <li class="heading"> Sent to </li>
<% @sent_reminders.each do |r| %>
  <li>
    <div class="sent-name"><%= link_to "#{Employee.find(r.to).first_name}", :controller=>"employee", :action=>"sent_reminder", :id=>@employee.id, :id2=>r.id %></div>
  </li>
<% end %>
<% else %>
  <p class="flash-msg"><%= t('index.no_message_created') %>.</p>
<% end %>
</ul>