<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


<% string = @to_users.inject('') { |arr, u| arr + u.to_s + ',' }.chomp(',') %>
<% add = "<span>#{t('add')}</span>" %>
<div class="label-field-pair">
  <label for="student_grade"><%= t('select_recipient') %></label>
  <div class ="scrolable" >
    <div class="scroll-inside">
      <div class="hover"><%= link_to "#{t('select_all')}  <span>#{t('add')}</span>", '#', :onClick => "add_all_recipient('#{string}')", :class=> 'all' %>
       
      </div>
      <% @to_users.each do |t| %>
        <% user = User.find(t) %>
        <div class="hover"><%= link_to user.first_name+add  , '#', :onClick => "add_recipient(#{t})", :class=>'individual',
    :before => "Element.show('loader')",
      :success => "Element.hide('loader')" %>
         
        </div>
      <% end %>
    </div>
  </div>
</div>



