.bundle
.rvmrc
nbproject
db/*.sqlite3
log/*.log*
log/*.lck
tmp/*
.sass-cache/
config/database.yml
.DS_Store
public/assets/sources_manifest.yml
public/assets/
public/system/
public/form_templates/
public/javascript/cache
dump.rdb
.idea/
*.swp
*.orig
*_clean.csv
*.log
*.sql.backup
.~lock*

