
#form-content {
    height : 230px;
    width:600px;
    margin:0px auto;
}
#submit_area input{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:0px auto;
    margin-left:200px;
    margin-top:30px;
    padding:7px 12px;
    border:none;
    text-align:center;
    width:90px;
    cursor:pointer;
}

