<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div class="label-field-pair"><label>
  <%= t('student.select_month_and_year') %> :
</label>
<div class="text-input-bg2">
<%= select :advance_search, :month,
  [["#{t('layouts.default.jan')}",'01'], ["#{t('layouts.default.feb')}",'02'], ["#{t('layouts.default.mar')}",'03'], ["#{t('layouts.default.apr')}",'04'], ["#{t('layouts.default.may')}",'05'], ["#{t('layouts.default.jun')}",'06'], ["#{t('layouts.default.jul')}",'07'], ["#{t('layouts.default.aug')}",'08'], ["#{t('layouts.default.sep')}",'09'], ["#{t('layouts.default.oct')}",'10'], ["#{t('layouts.default.nov')}",'11'], ["#{t('layouts.default.dec')}",'12']],
  {:prompt => "#{t('student.month')}"} %>
</div>
<div id="year"><%= render :partial => 'year' %></div>
</div>