#form-content{
    height:150px;
    width:675px;
    margin:0px auto;
    width:500px;
}

#submit-button input{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:0px 160px;
    float:left;
    margin-top:20px;
    padding:7px 12px;
    border:none;
    text-align:center;
    width:90px;
    cursor:pointer;
}

.label-checkbox{
    width:250px;
    height:80px;
    float:left;
}

.label-checkbox input{
    margin:15px 0 0 8px;
}

.label-radio-pair{
    width:250px;
    height:80px;
    float:left;
}

.label-radio-pair p{margin:0;padding:0;color:#444444;font-weight:bold;}
.label-radio-pair input{
    margin:5px 0 0 20px;
}

.label-radio-pair  {
    height:40px;
    padding-top:3px;
    padding:10px 0 0 0px;
    width:600px;
}
.status{
    color:#444444;
    display:block;
    float:left;
    font-size:14px;
    font-weight:600;
    margin:0 0 10px;
    padding-top:3px;
    width:206px;
}

#radio-buttons{
    margin:0;
}

.label-checkbox {
    float:left;
    height:50px;
    margin-left:208px;
    width:250px;
}

