
#form-content {
    border : 1px solid #becffb;
    background-color : #f8f8f8;
    height : auto; width : 600px;
    margin : 0px auto;
    padding : 30px 40px 20px 0;
}
.label-field-pair {
    margin-top : 0px;
    margin-right : 30px;
}
.label-checkbox-pair {
    height : 50px;
    margin-right : 30px;
}
.submit-button{
    width:200px;
    margin:0px auto;
}

#MB_frame .submit-button {
    -moz-border-radius:8px 8px 8px 8px;
    background:none repeat scroll 0 0 #27292B;
    border:medium none;
    color:#FFFFFF;
    cursor:pointer;
    float:right;
    font-size:14px;
    font-weight:bold;
    margin:0 170px 0 0;
    padding:5px;
}

.submit-button input{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin-right:0px;
    margin-top:30px;
    padding:7px 10px;
    border:none;
    cursor:pointer;
}
#class-timing-list {
    width:530px;
    margin:50px auto;
}
#class-timing-list a {
    color : #000;
}
.class-timing-th {
    width:500px;
    height:40px;
    clear:both;
    padding-right:50px;
}
.class-timing-trodd {
    width:500px;height:25px;
    padding-right:50px;
    padding-top:5px;
    clear:both;
    background : #E4EBFE;
    border-top:1px solid #C2CEEF;
}
.class-timing-treven {
    width:500px;height:25px;
    padding-right:50px;
    padding-top:5px;
    clear:both;
    background : #DAE6FF;
    border-top:1px solid #C2CEEF;
}
.class-timing-td1 {
    float:right;
    width:100px;
}
.class-timing-td2 {
    float:right;
    width:130px;
}
.class-timing-td3 {
    float:right;
    width:130px;
}
.class-timing-td4 {
    float:right;
}
