<div id="tooltip_box" style="float:right;">
  <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader",:style =>"display: none; float:left;" ) %>
  <div id="tooltip_header">    
  </div>
</div>

<div id="calendar" >
  <%= render :partial=>"month" %>
</div>







