 .name {
    color: #999999;
    float: right;
    font-size: 13px;
    font-weight: bold;
    width: 200px;
}
.val {
    color: #BB0000;
    font-size: 13px;
    font-weight: bold;
    width: 400px;
}
.val span {
    color: black;
    margin-left: 12px;
}

.discount{
    margin-top: 30px;
    margin-bottom: 30px;
}

.particulars{
    margin-top: 30px;
}