
#category-list {
    clear : both;
    padding : 10px 0px 40px 0;
    width:700px;
    margin:0px auto;
}

#category-list .listeven{
    background : #EEF2FD;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : 1.5em; width : 30em;
    list-style-type : none;
    padding : 0.5em 5em 0 0;
}

#category-list .listodd{
    background : #DFEAFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : 1.5em; width : 30em;
    list-style-type : none;
    padding : 0.5em 5em 0 0;
}

#category-list li.heading {
    background : none;
    font-weight : bold;
    list-style-type : none;
    color : #444;
    height : 1.5em; width : 30em;
    padding : 0.5em 5em 0 0;
}
#category-list li div {
    float : right;
}
#category-list li div.category-name {
    width : 150px;
    font-weight: bold;
    font-size:13px;
}

#category-list li div.category-code {
    width : 100px;
    font-weight: bold;
    font-size:13px;
}

#category-list li div.category-edit,
#category-list li div.category-delete {
    font-size : 0.9em;
    width : 50px;

}
#category-list li div.category-assign{
    font-size : 0.9em;
    width : 110px;
}
#category-list li div a {
    color : #000;
    font-size:14px;
    text-decoration: none;
}
#category-list li div a:hover {
    color : #d00;
    text-decoration: underline;
}
.box{
    width: 800px;
    margin:0 auto;
    padding-right:280px;
}

.field1{
    float:right;
    font-size:14px;
    font-weight:bold;
    height:40px;
    width:200px;
    color:#999999;
}

.val{
    color:#BB0000;
    float:right;
    font-size:13px;
    font-weight:bold;
    height:40px;
    width:500px;
}

.submit_button{
    float: right;
    margin-top: 50px;
}

.submit_button a{
    margin-top:15px;
    margin-right:100px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    text-decoration: none;
}
.submit_button a:hover{
    background:  #373B3F;
}
