
#submit-button input {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:0px auto;
    margin-right:271px;
    margin-top:30px;
    padding:7px 10px;
    border:none;
    text-align:center;
    width:auto;
    cursor:pointer;
}
input#upload_datafile{
    height:30px;
}
form{
    margin:0px auto;
}
.box{
    margin: 0 auto;
    width: 560px;
}
.label-field-pair label{
    width: 240px !important;
}
.fee_category_scroll {
-moz-background-inline-policy:continuous;
-moz-border-radius:10px 10px 10px 10px;
-webkit-background-inline-policy:continuous;
-webkit-border-radius:10px 10px 10px 10px;
background:none repeat scroll 0 0 #EEEEEE;
border:1px solid #C6C6C6;
height:76px;
margin-right:250px;
margin-top:-30px;
max-height:100px;
overflow:auto;
padding:7px;
width:200px;
}
.sel-list {
border-bottom:1px solid #DDDDDD;
margin-bottom:2px;
width:197px;
}
.each_batch {
border-bottom:1px solid #DDDDDD;
font-size:12px;
overflow:auto;
width:198px;
}