#list {
    margin:20px auto;
    width:400px;
}
#list li {
    padding:6px 0 0 50px;
    list-style-type:none;
}
#list li label input {
    margin-right:10px;
}
.name_listodd{
    background:#E4EBFE;
    height:30px;
    width:400px;
    border-top:1px solid #C2CEEF;
}
.name_listeven{
    background:#DAE6FF;
    height:30px;
    width:400px;
    border-top:1px solid #C2CEEF;
}
.att_list_names {
    display:inline;
    font-weight: 600;
    font-size: 13px;
}
label {display:inline;}
.user_submit_button1{
    width:100px;
    float: right
}
.user_submit_button1 input{
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    padding:7px 12px;
    border:none;
    text-align:center;
    text-decoration: none;
    width:auto;
    cursor:pointer;
    float: right;
}
.label_field_pair { 
    width:450px;
    float: left;
    margin-top: 10px;
}
.label_field_pair label {
    color: black;
    display: block;
    font-size: 16px;
    font-weight: bold;
}

.privileges{
    width:960px;
    margin-left:10px;
}
.privilege_heading{
    height: 40px;
    float: left;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #999999;
}
.all_privileges_list{
    float: left;
    width:960px;
    max-width:960px;
    min-width:960px;
    /*    -moz-column-count: 3;*/
    /*    -webkit-column-count: 3;*/
}
table.privilege_table{
    width:300px;
    max-width:300px;
    min-width:300px;
    /*    float: left;*/
    margin: 10px;
    border-radius:10px;
    padding: 10px;
}
table.privilege_table tr td.col-8{
    width: 25px;
    padding: 5px 5px 5px 10px;
}
table.privilege_table tr td.col-9{
    font-weight: normal;
    width: auto;
    padding: 5px 5px 5px 10px;
}
table#listing {
    padding: 10px;
}
table#listing .tr-read-even.active, table#listing .tr-read-odd.active {
    background: none repeat scroll 0 0 #E1E6FF;
}
table#listing .tr-even.active, table#listing .tr-odd.active {
    background: none repeat scroll 0 0 #E1E6FF;
}
.table_design tr td{
    vertical-align: top;
}