
#changepw-form {
    margin : 0px auto;
    width:500px;
}
#submit-button input {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:0px auto;
    margin-top:30px;
    margin-left:120px;
    padding:7px 12px;
    border:none;
    text-align:center;
    width:100px;
    cursor:pointer;
}
#submit-button input:hover{
    background: #373b3f;
}

.errorExplanation p {
    font-size:14px;
    font-weight:bold;
    margin:5px 0 0 20px;
}