<div class="label-field-pair"><label>
  Select a month & year :
</label>
<div class="text-input-bg2">
<%= select :month, :id,
  [['Jan','01'], ['Feb','02'], ['Mar','03'], ['Apr','04'], ['May','05'], ['Jun','06'], ['Jul','07'], ['Aug','08'], ['Sept','09'], ['Oct','10'], ['Nov','11'], ['Dec','12']],
  {:prompt => 'Select a month'},
  {:onchange => "#{remote_function(
  :url => { :action => 'year' },
  :with => "'month='+value+'&batch_id='+#{@batch.id}+'&subject_id='+#{@subject}",
  :before => "Element.show('loader')",
  :success => "Element.hide('loader')"  )}"} %>
</div>
<div id="year"><%= render :partial => 'year' %></div></div>
