<div class="label-field-pair">
  <label>Select a subject </label>
  <div class="text-input-bg">
    <% if @current_user.employee? and @allow_access==true %>
      <% text = 'Select a Subject'  %>
    <% else %>
      <% text =  'All Subjects'%>
    <% end %>
    <%= select :subject, :id,
      @subjects.map {|b| [b.name, b.id] },
      {:prompt => text},
      {:onchange => "#{remote_function(
      :url => { :action => 'mode' },
      :with => "'subject_id='+value+'&batch_id='+#{@batch.id}",
      :before => "Element.show('loader')",
      :success => "Element.hide('loader')"  )}"} %>
  </div>
</div>
<div id="register"></div>