<%#*<div id="content-header">%>
<%#*<img src="/images/show_news/show_news_logo.png" />%>
<%#*<h1>Timetable</h1>%>
<%#*<h3>Home</h3>%>
<%#*<div id="app-back-button"> <%= link_to image_tag("/images/buttons/back.png", :border => 0), :back </div>%>
<%#*</div>%>

<%#*<div id="page-yield">%>
  <% form_for :timetable, :url => {:action=> 'generate'} do |e| %>



    <%#*<div class="text-input-bg"><%= select :batch, :id,%>
    <%#*@batches.map {|b| [b.full_name, b.id] } </div>%>
    <%= e.hidden_field :batch_id, :value=> @batch.id %>
    <%= submit_tag "", :value => "#{t('edit2.publish')} #{t('index.timetable')}", :class=>'submit-button' ,:onclick=>"$('loadingmsg').innerHTML= '" + image_tag("loader.gif", :align => "absmiddle", :border => 0, :id => "generating" )  +"#{t('edit2.time_table_is_being_generated')}" %>
  <% end %>

<%#*</div>%>