<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<%#*<div id="content-header">%>
<%#*<img src="/images/show_news/show_news_logo.png" />%>
<%#*<h1>Timetable</h1>%>
<%#*<h3>Home</h3>%>
<%#*<div id="app-back-button"> <%= link_to image_tag("/images/buttons/back.png", :border => 0), :back </div>%>
<%#*</div>%>

<%#*<div id="page-yield">%>
  <% form_for :timetable, :url => {:action=> 'generate'} do |e| %>



    <%#*<div class="text-input-bg"><%= select :batch, :id,%>
    <%#*@batches.map {|b| [b.full_name, b.id] } </div>%>
    <%= e.hidden_field :batch_id, :value=> @batch.id %>
    <%= submit_tag "", :value => "#{t('publish_t')} #{t('timetable_text')}", :class=>'submit-button' ,:onclick=>"$('loadingmsg').innerHTML= '" + image_tag("loader.gif", :align => "absmiddle", :border => 0, :id => "generating" )  +"#{t('time_table_is_being_generated')}" %>
  <% end %>

<%#*</div>%>