<%= flash[:notice] %>

<%= link_to_remote "Select Courses", :url=>{:controller=>"event", :action=>"select_course", :id=>params[:id]} %> |
<%= link_to_remote "Select Employee Department", :url=>{:controller=>"event", :action=>"select_employee_department", :id=>params[:id]} %>

<div id="select-options"></div>

<%= link_to "Done", :controller=>"event", :action=>"index" %>