<div id="page-yield">
  <div class="box">
    <% form_remote_for @category,:url=>{:controller=>"cce_exam_categories",:id=>@category.id,:action=>'update'} do |f| %>
      <div id="form-errors"></div>
      <%= error_messages_for :grade_set %>
      <div class="label-field-pair">
        <label for="category_name">Name</label>
        <div class="text-input-bg"><%= f.text_field :name %></div>
      </div>
      <div class="label-field-pair">
        <label for="category_name">Description</label>
        <div class="text-input-bg"><%= f.text_field :desc %></div>
      </div>
      <%= f.submit "", :value => "► Update", :class => "submit_button" %>
    <% end %>
    <div class="extender"></div>
  </div>
</div>