development:
      host: localhost
      adapter: mysql
      database: fedena
      port: 3306
      username: fedena
      password: fedena

test: &test
      host: localhost
      adapter: mysql
      database: fedena
      port: 3306
      username: fedena
      password: fedena

production:
      host: localhost
      adapter: mysql
      database: fedena
      port: 3306
      username: fedena
      password: fedena
cucumber:
  <<: *test
