<% remote_form_for :class_designation,:url=>{:action=>"create_class_designation", :course_id=>@course.id} do |c| %>

  <div id="form-content">
    <div class="label-field-pair">
      <label for="name">Name</label>
      <div class="text-input-bg"><%= c.text_field :name %></div>
    </div>
    <% if @course.grading_type=="1" %>
      <div class="label-field-pair">
        <label for="gpa">CGPA</label>
        <div class="text-input-bg"><%= c.text_field :cgpa %></div>
      </div>
    <% else %>
      <div class="label-field-pair">
        <label for="marks">Marks</label>
        <div class="text-input-bg"><%= c.text_field :marks %></div>
      </div>
    <% end %>

    <div class="extender"></div>

    <div id="submit-button">
      <%=submit_tag("► #{t('create_text')}") %>
    </div>


  </div>
<% end %>