<% remote_form_for :class_designation,:url=>{:action=>"update_class_designation", :id=>@class_designation.id} do |c| %>

  <div id="form-content">
    <div class="label-field-pair">
      <label for="name">Name</label>
      <div class="text-input-bg"><%= c.text_field :name %></div>
    </div>
    <% if Configuration.find_by_config_key("GPA").config_value=="1" %>
          <div class="label-field-pair">
            <label for="gpa">CGPA</label>
            <div class="text-input-bg"><%= c.text_field :cgpa %></div>
          </div>
        <% end %>
        <% if Configuration.find_by_config_key("CWA").config_value=="1" %>
          <div class="label-field-pair">
            <label for="marks">Marks</label>
            <div class="text-input-bg"><%= c.text_field :marks %></div>
          </div>
        <% end %>

    <div class="extender"></div>

    <div id="submit-button">
      <%=submit_tag("► Save") %>
    </div>


  </div>
<% end %>