
#leave-info{

}

#category-list {
    clear : both;
    padding : 10px 0px 40px 0;
    width:540px;
    margin:0px auto;
}

#category-list .listeven{
    background : #EEF2FD;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : 1.5em; width : 30em;
    list-style-type : none;
    padding : 0.5em 5em 0 0;
}

#category-list .listodd{
    background : #DFEAFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : 1.5em; width : 30em;
    list-style-type : none;
    padding : 0.5em 5em 0 0;
}

#category-list li div {
    float : right;
}
#category-list li div.category-name {
    width : 150px;
    font-weight: bold;
    font-size:13px;
}

#category-list li div a {
    color : #000;
    font-size:14px;
    text-decoration: none;
}
#category-list li div a:hover {
    color : #d00;
    text-decoration: underline;
}

.approve-deny{
    width:125px;
    margin:0 280px 0 0;
}

.approve-deny a{
    color:black;
    text-decoration:underline;
}

.approval-form{
    margin: 0 auto;
    
}

.approval-form a{
    display:block;
    height:35px;
    float:left;
    width:35px;
}

.remark-field-pair {
    float : right;
    height : 110px;
    width : 450px;
}

.remark-field-pair label {
    color : #444;
    display : block;
    font-weight : bold;
    margin : 25px 75px 0 0;
}
.remark-field-pair input {
    background : transparent;
    border : 0;
    margin : 5px 10px 0 0;
    width : 330px;
}

.submit-button {
        float:right;
        margin-top:47px;
}

.remark-input-bg {
    background : #fff url(../../../images/form_bg/remarks_text_bg.png) no-repeat;
    height : 26px;
    width : 341px;
    margin: 5px 75px 0 0;
}

.approve_button a {
     padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    float: right;
    border:none;
    font-family: arial;
    cursor:pointer;
    margin: 0 auto;
    text-decoration: none;
}
.approve_button a:hover{
    background:  #373B3F;
}
.cancel_button a {
     padding: 7px 10px;
    color: #fff;
    float: right;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    margin-right: 40px;
    text-decoration: none;
}
.cancel_button a:hover{
    background:  #373B3F;
}

.buttons{
    margin: 0 370px;
    width: 300px;
}

.submit_button {
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}

#MB_frame .submit-button {
    -moz-border-radius: 8px 8px 8px 8px;
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-size: 14px;
    font-weight: bold;
    margin: 26px 212px 0 0;
    padding: 0;
}