

#page-yield {
    width:800px;
    margin: 0 auto;
    float: left;
    overflow: hidden;
}



.hor_line{
    width:800px;
    background: #333333;
    height: 1px;
}

h2.heading{
    text-align: center;
    margin:5px;
}

#main_info h4{
    color: #555555;
    margin-top: 2px;
    font-weight: normal;
}

#main_info h2{
    margin-bottom: 2px;
    font-weight: normal;

}


.odd{
    height:auto;
    background: #EEEEEE;
    
}

.even{
    
    height:auto;
    background: #fff;
    
    
}
tr.even{
   border: 1px solid #ADACAB;
}

tr.odd{
   border: 1px solid #ADACAB;
}

.even td{
   
  padding: 12px 12px 12px 15px;
  border: 1px solid #ADACAB;
  border-right: 0px solid #fff;
  border-top: 0px solid #fff;
 
}

.odd td{
  padding: 12px 12px 12px 15px;
  border: 1px solid #ADACAB;
  border-right: 0px solid #fff;
  border-top: 0px solid #fff;
 
}

table#pdf-table{
 border-top: 1px solid #ADACAB;
 border-collapse:collapse
}


#page-extender{
    width:100%;
    height :300px;

}
#page-extender1{
    width:100%;
    height :500px;

}

.report{
    min-height: 1000px;
    margin: 0 auto;
}

#signature{
    text-align: right;
    width: 700px;
    margin: 0 auto;
    color: #999999;
    font-size: 18px;
}


#page-yield h2{
    text-align: center;
}

.col-pdf1
{color: #990A10;}

.page1 {
    width:800px;
    height: auto;
    page-break-after: always;
    page-break-inside: avoid;
    clear: both;
}
.page-break1{
    height: 20px;
    border: 1px solid #fff;
    width:800px;
    float: left;
}
.grand_total
{
    border-bottom: 1px solid #ADACAB;
}
.section1{
    page-break-before:always;
    text-align: center;
}
.row{
    float: left;
    width: 100%;
    text-align: center;
}
.page-blank{
    width: 100%;
    float: left;
}
.page_break{
    margin-top: 60px;
}
.serial-td{
    width:60px;
    min-width:60px;
    max-width:60px;
    overflow:hidden;

}
.name-td{
    width:auto;
/*    min-width:180px;
    max-width:180px;*/
    overflow: hidden;
}
.total-td{
    width:150px;
    min-width:150px;
    max-width:150px;
    overflow:hidden;
}



