
p {
    background-color : #fff1ab;
    width : 450px;
    padding : 5px;
}
#finish {
    margin : 0 50px 0 0;
}
#page-yield select {
    height : auto; width : 150px;
}
#old-class-select {
    margin : 0 50px 0 0;
}
#students-list {
    height : auto; width : 600px;
    margin : 30px 50px 0 0;
}
#students-list .student-names {
    background : #fff url(../../../images/backgrounds/list-bg-repeat.jpg) repeat-x;
    height : 25px; width : auto;
    padding : 10px 50px 0 0;
}
#students-list .student-names .check {
    float : right;
}
#students-list .student-names .student-name {
    margin : 0 20px 0 0;
    float : right;
}
#new-class-selectbox {
    float : right;
    height : 50px; width : 250px;
    margin : 50px 20px 0 0;
}
#new-class-selectbox select {
    height : auto; width : 150px;
    margin : 10px 0 0 0;
}
#submit-button {
    float : right;
    height : 50px; width : auto;
    margin : 70px 30px 0 0;
}
