 <div class="label-field-pair">

<div class="text-input-bg"><%= select :user_type, :type, EmployeeDepartment.all.map {|c| [c.name, c.id]},
    {:prompt => "#{t('layouts.default.select_a_department')}"},
    {:onChange => "#{remote_function(:url => {:action => "list_employee_user"},
    :with => "'dept_id='+value",
        :before => "Element.show('loader')",
        :success => "Element.hide('loader')"
        )}"} %>

</div>
 </div>

