
#form-content {
    height : 230px;
    margin : 0px auto;
    width : 500px;
}
#submit_area input{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin-right:150px;
    margin-top:25px;
    padding:7px 10px;
    border:none;
    cursor:pointer;
}
