<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div class="label-field-pair">
   <label for="student_course"><%= t('select_exam_group') %>:
<%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader2", :style =>"display: none;" ) %>
   </label>
   <div class="text-input-bg">
  <%= select :course, :exam_group_id,
        @exam_groups.map {|b| [b.name, b.id]},
        {:prompt => "Select an Exam Group"},
        {:onChange => "#{remote_function(:url => {:action => "previous_exam_marks"},
        :with => "'exam_group_id='+ value",
        :before => "Element.show('loader2')",
        :success => "Element.hide('loader2')"
        )}"} %>
</div></div>
<div id="previous_exam_marks"></div>
<div class="extender"></div>