<% if @batch_groups.present? %>
<div class="label-field-pair">
  <label for="student_course">Select a Batch Group :</label>
  <div  class="text-input-bg">
    <%= select :ranking_level_report, :batch_group_id, @batch_groups.map {|g| [g.name, g.id]}, {:prompt => "Select a Batch Group"}%></div></div>
<% end %>
<div class="label-field-pair">
  <label for="student_course">Select Ranking Level :</label>
  <div  class="text-input-bg">
    <%= select :ranking_level_report, :ranking_level_id,
      @ranking_levels.map {|b| [b.name, b.id]},
      {:prompt => "select a ranking level"}%></div></div>