<div class="label-field-pair">
  <label for="student_course"><%= t('select_ranking_level') %> :</label>
  <div  class="text-input-bg">
    <%= select :ranking_level_report, :ranking_level_id,
      @ranking_levels.map {|b| [b.name, b.id]},
      {:prompt => "select a ranking level"}%></div></div>
<div class="label-field-pair">
  <label for="student_course"><%= t('select_a_report_type') %> :</label>
  <div  class="text-input-bg">
    <%= select :ranking_level_report, :report_type,
      [["#{t('overall')}","overall"],["#{t('subject_wise')}","subject"]],
      {:prompt => "#{t('select_a_report_type')}"}, {:onChange => "#{remote_function(:url => {:action => "select_type", :batch_id=>@batch.id}, :with => "'report_type='+value")}"}%></div></div>
<div id="subject-select"></div>