<div class="label-field-pair">
  <label for="student_course">Select Ranking Level :</label>
  <div  class="text-input-bg">
    <%= select :ranking_level_report, :ranking_level_id,
      @ranking_levels.map {|b| [b.name, b.id]},
      {:prompt => "select a ranking level"}%></div></div>
<div class="label-field-pair">
  <label for="student_course">Select a Report Type :</label>
  <div  class="text-input-bg">
    <%= select :ranking_level_report, :report_type,
      [["Overall","overall"],["Subject wise","subject"]],
      {:prompt => "select report type"}, {:onChange => "#{remote_function(:url => {:action => "select_type", :batch_id=>@batch.id}, :with => "'report_type='+value")}"}%></div></div>
<div id="subject-select"></div>