
<div class="label-field-pair">
        <label for="student_course">Select a Batch Group :</label>
        <div  class="text-input-bg"><%= select :report, :batch_group_id, @batch_groups.map {|g| [g.name, g.id]}, {:prompt => "Select a Batch Group"}%></div></div>