<div id="content-header">
  <img src="/images/examination/show_exam.png" alt="Exam" />
  <h1>Exams</h1>
  <h3>Exam results entry</h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="page-yield">
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div class="box">
    <div class="label-field-pair">
      <label for="student_course">Select a course :
        <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader", :style =>"display: none;" ) %>
      </label>

      <div class="text-input-bg">
        <%= select :courses, :name,
          Course.active.map {|b| [b.course_name, b.id]},
          {:prompt => 'Select a course'},
          {:onChange => "#{remote_function(:url => {:action => "update_batch_ex_result"},
          :with => "'course_name='+ value",
          :before => "Element.show('loader')",
          :success => "Element.hide('loader')"
          )}"} %>
      </div></div>



    <div id="update_batch"></div>


    <div class="extender"></div>
  </div>

</div>