<div id="content-header">
    <img src="/images/show_settings.png" alt="Courses" />
  <h1>Courses</h1>
  <h3>Home</h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <div class="box">

    <div class="link-box">
      <div class="link-heading"><%= link_to 'Manage courses' ,:action=>'manage_course' %> </div>
      <div class="link-descr">Manage Courses and create batches</div>
    </div>
    <div class="link-box">
      <div class="link-heading"><%= link_to 'Manage Batches' ,:action=>'manage_batches' %>  </div>
      <div class="link-descr">Manage active batches</div>
    </div>

    <div class="extender"></div>
  </div>
</div>
