
#subject-result-tables .subject-heading {
    color: #444;
    font-weight: bold;
    margin: 30px 0 5px 0;
}
.subject-results-th {
    background-color: #E7EEFF;
    border-bottom: 1px solid #C4D2FE;
    border-top: 1px solid #C4D2FE;
    color: #444;
    font-size: 0.8em;
    height: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.5em 0 0 0;
}
.subject-results-tr {
    background-color: #E7EEFF;
    border-bottom: 1px solid #C4D2FE;
    font-size:0.9em;
    height: 1.5em;
    padding: 0.5em 0 0 0;
}
.subject-results-tf {
    background-color: #E7EEFF;
    border-bottom: 1px solid #C4D2FE;
    border-top: 2px solid #C4D2FE;
    font-size:0.9em;
    height: 1.5em;
    padding: 0.5em 0 0 0;
}
.subject-results-exam {
    float:left;
    padding: 0 0 0 30px;
    width: 180px;
}
.subject-results-marks {
    float:left;
    width: 80px;
}
.subject-results-maxmarks {
    float:left;
    width: 80px;
}
.subject-results-grade {
    float:left;
    width: 80px;
}
.subject-results-percentage {
    float:left;
}
#pdf-view-button{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:0px auto;
    margin-top:30px;
    padding:7px 12px;
    border:none;
    text-align:center;
    width:150px;
    cursor:pointer;
}
#pdf-view-button a{
    color:#fff;
    text-decoration: none;
}

.prev-next-links {
    float: right;
    width: 30px;
}
.prev-next-links a {
    background-color: #E7EEFF;
    color: #000;
    display: block;
    margin: 0 0 0 5px;
    text-decoration:none;
    font-weight: bolder;
    width: 10px;
    float: left;
}
.res-table{
    width:900px;
    overflow-x:scroll;
    margin:0px auto;
}