.label-field-pair {
    margin-right : 50px;
}
.message-area {
    margin-right : 50px;
    clear : both;
}
.message-area label {
    clear : both;
    color : #444;
    display : block;
    font-weight : bold;
    margin : 0 0 10px 0;
}
#email_message {
    background : transparent url(../../../images/_input_bg/mail-message.png) no-repeat;
    border : 0;
    font-family : Arial;
    height : 190px;
    padding : 5px;
    width : 520px;
}
.submit-area {
    clear : both;
    margin : 20px 250px 0 0;
}