.detail-box{
    width:500px;
    float:left;
    margin-left: 80px;
    margin-bottom: 30px;
}
.label{
    width:200px;
    text-align:left;
    color:#9a090c;
    float:left;
    height: 30px;
    font-weight:bold;
}
.description{
    padding-left:10px;
    width:280px;
    font-weight:normal;
    min-height: 30px;
    text-align:left;
    float:left;
}
.extra{
    width:550px;
    float:left;
}
.course-select a, .dept-select a{
    color:#9a090c;
    font-weight:bold;
}
span.title{
    color:#444444;
    font-weight:bold;
}
#select-option, #select-options {
    font-weight:bold;
    padding:10px;
    color:#444444;
    margin:10px;
}
.create{
    margin-top:10px;
    margin-left:25px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    text-decoration:none;
}
.create:hover{
    background:  #373B3F;
}
.other-events{
    width:300px;
    float:right;
}
.other-events .date{
    color:#000;
    font-weight: bold;
    float:left;
    padding:12px;
    padding-bottom: 5px;
    width:200px;
}
.other-events .title{
    color:#6d6b6b;
    text-align: justify;
    float:left;
    padding:10px;
    padding-top:0px;
    font-size:12px;
    margin-left:2px;
    border-bottom:1px solid #e4e4e4;
    width:200px;
}
.other-events .head{
    padding:5px;
    font-size:20px;
    font-weight: bold;
    border-bottom:1px solid #e4e4e4;
    width:210px;
}

#category-list {
    clear : both;
    padding : 10px 0 40px 0px;
    width:600px;
    margin:0px auto;
}

#category-list .listeven{
    background : #EEF2FD;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : 1.5em; width : 30em;
    list-style-type : none;
    padding : 0.5em 0 0.5em 5em;
    overflow: hidden;
}

#category-list .listodd{
    background : #DFEAFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : 1.5em; width : 30em;
    list-style-type : none;
    padding : 0.5em 0 0 5em;
}

#category-list li.heading {
    background : none;
    font-weight : bold;
    list-style-type : none;
    color : #444;
    height : 1.5em; width : 30em;
    padding : 0.5em 0 0 5em;
}
#category-list li div {
    float : left;
     width: 300px;
}
#category-list li div.category-name {
    font-weight: bold;
    font-size:13px;
}
#category-list li div.category-edit,
#category-list li div.category-box,
#category-list li div.category-delete {
    font-size : 0.9em;
    width : 150px;
    float: right;

}
#category-list li div a {
    color : #000;
    font-size:14px;
    text-decoration: underline;
}
#category-list li div a:hover {
    color : #d00;
    text-decoration: none;
}
.dept-select{
    width: 600px;
    margin-left: 20px;
}
