<div id="content-header">
  <img src="/images/attendence/attendence.png" />
  <h1>Attendance</h1>
  <h3>Attendance register</h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>


<div id="page-yield">
<div class="label-field-pair">
  <label>Select a batch </label>
  <div class="text-input-bg">
<% if @config.config_value == 'Daily' %>

<%= select :batch, :id,
  @batches.map {|b| [b.full_name, b.id] },
  {:prompt => 'Select a batch'},
  {:onchange => "#{remote_function(
  :url => { :action => 'show' },
  :with => "'batch_id='+value",
  :before => "Element.show('loader')",
  :success => "Element.hide('loader')"  )}"} %>
<% else  %>
<%= select :batch, :id,
  @batches.map {|b| [b.full_name, b.id] },
  {:prompt => 'Select a batch'},
  {:onchange => "#{remote_function(
  :url => { :action => 'list_subject' },
  :with => "'batch_id='+value",
  :before => "Element.show('loader')",
  :success => "Element.hide('loader')"  )}"} %>
 <% end %>
    </div>
<%= image_tag("loader.gif", :align => "absmiddle", :border => 0, :id => "loader", :style =>"display: none;" ) %>
</div>



<div id="subjects"></div>
<div id="register"></div>
<div id="modal-box" style="display:none;"></div>
</div>