#reset-box {
    background: #ffdedf ;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    height : auto;
    margin : 20px auto;
    padding : 1px 0 1px 20px;
    text-align: center;
    width :500px;
    margin: 0 auto;
    font-size: 18px;
}

#skip{
    margin-top:28px;
    margin-left:130px;
    float:left;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    background:none repeat scroll 0 0 #27292B;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    padding:7px 10px;
}
#skip a{
    color:#fff;
    text-decoration: none;
}
#skip:hover,#add-more-parent:hover{
   background:  #373B3F;
}
#skip1{
    margin-top:28px;
    margin-left:50px;
    float:left;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    background:none repeat scroll 0 0 #27292B;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    padding:7px 10px;
}
#skip1 a{
    color:#fff;
    text-decoration: none;
}
#skip1:hover,#add-more-parent:hover{
   background:  #373B3F;
}