.box{
    width:500px;
    margin: 0 auto;
}


#submit-button input{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin-left:150px;
    margin-top:30px;
    padding:7px 10px;
    border:none;
    cursor:pointer;
}