#fees-table{
    padding-top: 10px;
}
.fees-th {
    background-color: #E7EEFF;
    border-bottom: 1px solid #C4D2FE;
    border-top: 1px solid #C4D2FE;
    font-size: 0.9em;
    height: 1.5em;
    font-variant:small-caps;
    font-weight: bold;
    padding: 0.5em 0 0 0;
    width:865px;
}
.fees-tr {
    background:none repeat scroll 0 0 #EEF2FD;
    border-bottom:1px solid #BECFFB;
    font-size:0.9em;
    height: 2.5em;
    padding: 0.5em 0 0 0;
    width:865px;
}
.fees-tr-odd {
    background:none repeat scroll 0 0 #DFEAFF;
    border-bottom:1px solid #BECFFB;
    font-size:0.9em;
    height: 2.5em;
    padding: 0.5em 0 0 0;
    width:865px;
}
.fees-table-description {
    float:left;
    padding: 0 0 0 60px;
    width: 254px;
}
.fees-table-expenses {
    float:left;
    width: 80px;
    padding: 0 0 0 140px;
    text-align:right;
}
.fees-table-income {
    float:left;
    width: 80px;
    padding: 0 0 0 56px;
    text-align:right;
}

.fees-tr .fees-table-income{
    float:left;
    width: 80px;
    padding: 0 0 0 276px;
    text-align:right;
}

.fees-table-date{
    float:right;
    width: 80px;
    text-align:right;
    margin-right: 40px;
}
.fees-table-total {
    float:left;
    width: 80px;
    padding: 0 0 0 210px;
    text-align:right;
}
/*table#listing .tr-head td.align_left{
    text-align: left;
}
table#listing .tr-head td.align_right{
    text-align: right;
}*/