#fees-table{
   padding-top: 10px;
}
.fees-th {
    background: none repeat scroll 0 0 #BECFFB;
    border-bottom: 1px solid #BECFFB;
    font-weight: normal;
    height: 1.5em;
    list-style-type: none;
    padding: 0.5em 0 0 1em;
    width: 600px;
}
.fees-tr {
    background-color: #E7EEFF;
    border-bottom: 1px solid #C4D2FE;
    font-size:0.9em;
    height: 1.5em;
    padding: 0.5em 0 0 0;
    width:600px;
}
.fees-table-description {
    float:left;
    padding: 0 0 0 60px;
    width: 321px;
    color: #444444;
}

.fees-table-head-desc {
    float:left;
    padding: 0 0 0 60px;
    width: 317px;
}
.fees-table-expenses {
    float:left;
    width: 80px;
    padding: 0 0 0 77px;
    text-align:right;
    color: #444444;
}
.fees-table-income {
    float:left;
    width: 154px;
    padding: 0 0 0 0;
    text-align:right;
    color: #444444;
}
.fees-table-date {
    float:right;
    width: 80px;
    text-align:center;
    margin-right: 40px;
}

.listeven{
    background : #EEF2FD;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : 1.5em; width : 600px;
    list-style-type : none;
    padding: 10px 0 0 16px;
    font-size: 14px;
    
}

.listodd{
    background : #DFEAFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : 1.5em; width : 600px;
    list-style-type : none;
    padding: 10px 0 0 16px;
    font-size: 14px;

}

.fees-table-description a{
    width: 254px;
    text-decoration: none;
    color: #444444;
}

.fees-table-description a:hover{
    width: 254px;
    text-decoration: none;
    color: #BB0000;
}
#fees_report_title{
    margin-left:200px;
}