.name{
    width: 20%;
}
.description{
    width: 20%;
}
.amount{
    width: 10%;
}
.transaction_date{
    width: 20%;
}
.options{
    width: 15%;
}
.receipt_no{
    width: 10%;
}
td{
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}