.submit_button {
    margin-top:15px;
    margin-left:261px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}

.box{
    width:535px;
    margin:0px auto;
}
.label-field-pair label {
    width: 250px;
}