#fees-table{
    padding-top: 10px;
}
.fees-th {
    background-color: #E7EEFF;
    border-bottom: 1px solid #C4D2FE;
    border-top: 1px solid #C4D2FE;
    font-size: 0.9em;
    height: 1.5em;
    font-variant:small-caps;
    font-weight: bold;
    padding: 0.5em 0 0 0;
    width:865px;
}
.fees-tr {
    background-color: #E7EEFF;
    border-bottom: 1px solid #C4D2FE;
    font-size:0.9em;
    height: 1.5em;
    padding: 0.5em 0 0 0;
    width:865px;
}
.fees-table-description {
    float:left;
    padding: 0 0 0 60px;
    width: 254px;
}
.fees-table-expenses {
    float:left;
    width: 80px;
    padding: 0 0 0 140px;
    text-align:right;
}
.fees-table-income {
    float:left;
    width: 80px;
    padding: 0 0 0 56px;
    text-align:right;
}

.fees-tr .fees-table-income{
    float:left;
    width: 80px;
    padding: 0 0 0 276px;
    text-align:right;
}
.edit-link-income{

    float : left;
    font-size : 0.9em;
    margin : 0 0 0 10px;
}

.edit-link-expenses{

    float : left;
    font-size : 0.9em;
    margin : 0 0 0 176px;
}

.fees-table-total {
    float:left;
    width: 80px;
    padding: 0 0 0 210px;
    text-align:right;
}
.fees-th-grandtotal {
    background-color: #E7EEFF;
    border-bottom: 1px solid #C4D2FE;
    border-top: 1px solid #C4D2FE;
    font-size: 0.9em;
    height: 1.5em;
    font-variant:small-caps;
    font-weight: bold;
    padding: 0.5em 0 0 0;
    width:865px;
    margin-top:25px;
}

.edit-link-income,.edit-link-expenses a{
    color : #000;
}

.selectmonth{
    color:#444444;
    display:block;
    font-weight:bold;
    margin-bottom:10px;
}

.user_submit_button {

    margin-left:30px;
    margin-top:5px;
    float:left;
}

.label-field-pair_monthly_report {
    float:left;
}

.fees-table-date{
    float:right;
    width: 80px;
    text-align:right;
    margin-right: 40px;
}

.user_button {
    margin:10px 400px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    text-decoration: none;
    float:left;
}
.user_button:hover{
    background:  #373B3F;
}