
#create_user_form {
    padding-left:10px;

    width:250px;
}
.label_field {
    width:489px;
    float:left;
    padding-top:22px;
    height:60px;
}
.label_field label {
    font-weight:bold;
    display:block;
    color:#444;
    margin-bottom:10px;
}
.text_field_bg {
    -webkit-border-radius:10px;
    -moz-border-radius:10px 10px 10px 10px;
    background-color:#EEEEEE;
    border:1px solid #C6C6C6;
    height:21px;
    margin:5px 0 0 10px;
    padding:3px 6px;
    width:215px;
}

.text_field_bg select{
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px;
    background-color:#EEEEEE;
    border:1px solid #EEEEEE;
    height:21px;
    width:215px;



}
.label_field input {
    width:215px;

    background:transparent;
    border:none;
    padding-left:10px;
    padding-top:5px;
}

.user_submit_button {
    margin-top:20px;
    margin-left:45px;
}

.comment{
    font-size: 0.8em;
    margin-top:-31px;
    margin-left:249px;
}
.label_field .submit_button {
    margin-top:50px;
    margin-left:11px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    width:50px;
    height:50px;
    font-family: arial;
}
.label_field .submit_button:hover {
    background:  #373B3F;
}