<div class="label-field-pair">
    <div class="label-container">
      <label> <%= t('layouts.default.admission_number') %> :</label></div>
   <div class="input-container"> <%= text_field :finance_fee_particulars,  :admission_no %></div>
</div>