<div id="content-header">
   <img src="/images/show_finance.png" alt="" />
  <h1>Fees Structure</h1>
  <h3><%= @student.full_name%></h3>
  <div id="app-back-button">
   <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">
  <div class="label-field-pair">
    <label>Select Fee Collection date: </label>
  <div class="text-input-bg">
    <%= select  :fees_submission, :dates_id, @dates.map { |e| [e.full_name, e.id]},
      {:prompt => "Select fees collection date"},
      {:onChange => "#{remote_function( :url =>
      {:action => "fees_structure_for_student"},
      :with => "'date='+value+'&id='+#{@student.id}") }"} %>
  </div>
  </div>
  </div>
<div id= "fees_structure"></div>

<div id="modal-box" style="display:none;"></div>