
<h2><%= t('fees_submission_index.fees_submission') %></h2>

<p><%= link_to "#{t('index.finance')}", :action => "index" %></p>

<% @fee_components.each do |c| %>
  <%= c.fee_element.label %> - <%= c.fee_element.amount %> <br/>
<% end %>