<div id="content-header">
  <img src="/images/examination/index/page_logo.jpg" alt="" />
  <h1>Master Fees Category</h1>
  <h3>View for master Fees Category</h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="page-yield">
  
</div>