

<% if @employee.nil? %>
  <div id="no_result">No Employee found</div>
<% else %>
  <% @employee.each do |r| %>
    <div id="ajax_result">
      <% link_value = r.full_name %>
      <%= link_to link_value, :controller => "finance", :action => "view_monthly_payslip_search", :id => r.id %><br/>
      <small>Emp ID.<%= r.employee_number %></small>
    </div>
  <% end %>
<% end %>
