<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<script type="text/javascript">
  jQuery.noConflict();
  function __highlight(s, t) {
    var matcher = new RegExp("("+jQuery.ui.autocomplete.escapeRegex(t)+")", "ig" );
    return s.replace(matcher, "<strong>$1</strong>");
  }

  jQuery.ui.autocomplete.prototype._renderItem = function (ul, item) {
    //  item.label = item.label.replace(new RegExp("(?![^&;]+;)(?!<[^<>]*)(" + jQuery.ui.autocomplete.escapeRegex(this.term) + ")(?![^<>]*>)(?![^&;]+;)", "gi"), "<strong>$1</strong>");
    if (item.menutype == 'action')    {
      return jQuery("<li></li>")
      .data("item.autocomplete",item)
      .append("<a class='action'>"+ item.label +"</a>")
      .appendTo(ul);
    }
    item.label = __highlight(item.label, this.term)
    return jQuery("<li></li>")
    .data("item.autocomplete", item)
    .append("<a>" + item.label + "</a>")
    .appendTo(ul);
  };

  jQuery(document).bind('keypress', 'q', function(){jQuery("input#autosuggest_menu_input").focus();return false;});
  gotoLink = function(event,ui){
    window.location.href = ui.item.value;
    return false;
  };
  searchoptions = function (request,response){
    var query=request.term;
    var available_options = <%= autosuggest_menuitems %>;
    var options = jQuery.ui.autocomplete.filter(available_options,query).slice(0,11);
    options.push({'menutype': 'action',
      'label' : '<%=t('autosuggest_menu.search_students')%> : <strong>'+query+'</strong>',
      'value' : "/student/advanced_search?search%5Border%5D=&search%5Bfirst_name_or_middle_name_or_last_name_like%5D="+query+"&search%5Badmission_no_equals%5D=&advv_search%5Bcourse_id%5D=&search%5Bbatch_id_equals%5D=&search%5Bstudent_category_id_equals%5D=&search%5Bgender_equals%5D=&search%5Bblood_group_like%5D=&search%5Bnationality_id_equals%5D=&advv_search%5Bdoa_option%5D=&advv_search%5Bdoa_year%5D=&advv_search%5Bdob_option%5D=&advv_search%5Bdob_year%5D=&commit=Search"})

    options.push({'menutype': 'action',
      'label' : '<%=t('autosuggest_menu.search_employees')%>: <strong>'+query+'</strong>',
      'value' : "/employee/advanced_search?search%5Border%5D=&search%5Bfirst_name_or_middle_name_or_last_name_like%5D="+query+"&search%5Bemployee_number_equals%5D=&search%5Bgender_equals%5D=&search%5Bblood_group_like%5D=&search%5Bmarital_status_like%5D=&search%5Bnationality_id_equals%5D=&search%5Bemployee_category_id_equals%5D=&search%5Bemployee_department_id_equals%5D=&search%5Bemployee_position_id_equals%5D=&search%5Bemployee_grade_id_equals%5D=&adv_search%5Bdoj_option%5D=&adv_search%5Bdoj_year%5D=&adv_search%5Bdob_option%5D=&adv_search%5Bdob_year%5D=&search%5Bstatus_equals%5D=true&commit=Search"})

    response(options)
  }


  jQuery(document).ready(function() {
    jQuery("input#autosuggest_menu_input").autocomplete({
      source: searchoptions,
      select : gotoLink,
      focus: function(event, ui) { return false; }
    });
  });
</script>


<%= text_field_tag :autosuggest_menu,{} ,:id=>'autosuggest_menu_input',:placeholder => "#{t('autosuggest_menu.search_actions_and_events')}" %>

