<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title><%= @title %></title>
  <%= stylesheet_link_tag  "_layouts/forgotpw", "_styles/style" %>
  <%= javascript_include_tag :defaults %>
</head>

<body>
  <%= yield %>
</body>
</html>
